body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url("BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    text-align: center;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.flower1{
    width: 50vh;
    height: 25vh;
    border-radius: 5px;
    box-shadow: 3px 3px 3px blink;
    position: absolute;
    background-image: url("Blue Flower.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.flower2{
    width: 50vh;
    height: 15vh;
    border-radius: 5px;
    position: absolute;
    box-shadow: 3px 3px 3px blink;
    background-image: url("Flower\ Orchid.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.leaf1{
    width: 50vh;
    height: 15vh;
    border-radius: 5px;
    position: absolute;
    box-shadow: 3px 3px 3px blink;
    background-image: url("Leaf.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.leaf2{
    width: 50vh;
    height: 15vh;
    border-radius: 5px;
    position: absolute;
    box-shadow: 3px 3px 3px blink;
    background-image: url("Leaf 2.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.twig1{
    width: 50vh;
    height: 15vh;
    border-radius: 5px;
    box-shadow: 3px 3px 3px blink;
    position: absolute;
    background-image: url("Twig.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.twig1{
    width: 50vh;
    height: 15vh;
    border-radius: 5px;
    box-shadow: 3px 3px 3px blink;
    position: absolute;
    background-image: url("Twig.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.twig2{
    width: 50vh;
    height: 15vh;
    border-radius: 5px;
    box-shadow: 3px 3px 3px blink;
    position: absolute;
    background-image: url("Twig 2.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.hide{
    display: none;
    visibility:hidden;
}

.background{
    display: flex;
    height: 565px;
    width: 500px;
    justify-content: center;
    text-align: center;
}
.startButtton{
    position:absolute;
    bottom: 10vh;
    height: 10vh;
    width: 25vh;
    background-color: #D2F5FF;
    font-size: 1em;
    color: #224c0b;
    border: 2px solid black;
    border-radius: 1.5em;
    padding: 0.5em 0.5em;
    cursor: pointer;
}
.start{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.title{
    font-size: 2em;
}
.game{
    position: absolute;
    margin: 0;
}
.timer{
    margin: 0;
    right: 35vh;
    position: absolute;
    font-size: 2em;
}
.timer-count{
    position: absolute;
    right: 40vh;
    margin: 1;
    font-size: 2em;
    font-weight: 600;
}
.score{
    margin: 0;
    left: 35vh;
    position: absolute;
    font-size: 2em;
}
.score-count{
    position: absolute;
    left: 40vh;
    margin: 1;
    font-size: 2em;
    font-weight: 600;
}
.time-container{
    position: absolute;
    left: 10vh;
}
.holder{
    display: flex;
    justify-content: center;
    text-align: center;
}
.try-harder-background{
    position: absolute;
    display: flex;
    top: 15vh;
    width: 65vh;
    height: 65vh;
    justify-content: center;
    text-align: center;
    background:  rgb(241, 153, 52, 0.7);
    border: 2px solid black;
    border-radius: 3em;
    padding: 0.5em 0.5em;
}
.well-done-background{
    position: absolute;
    display: flex;
    top: 20vh;
    width: 65vh;
    height: 65vh;
    justify-content: center;
    text-align: center;
    background:  rgb(241, 153, 52, 0.7);
    border: 2px solid black;
    border-radius: 3em;
    padding: 0.5em 0.5em;
}
.restart{
    position: absolute;
    bottom: 5vh;
    height: 10vh;
    width: 30vh;
    background-color: #FABAAB;
    font-size: 1em;
    color: #4E2BAB;
    border: 2px solid black;
    border-radius: 1.5em;
    padding: 0.5em 0.5em;
    cursor: pointer;
}
.restart-background{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.result{
    position: absolute;
    font-size: 1.8em;
    font-weight: 600;
    color: #2E6A59;
}
.result-score{
    position: absolute;
    font-size: 1.7em;
    font-weight: 600;
    color: white;
    top: 10vh;
}
.result-score-count{
    position: absolute;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    top: 18vh;
}
.words{
    position: absolute;
    font-size: 1.8em;
    font-weight: 400;
    color: #2E6A59;
    top: 26vh;
}