body{
    background-color: #F8E7D4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.flower1{
    width: 50vh;
    height: 25vh;
    border-radius: 5px;
    box-shadow: 3px 3px 3px blink;
    position: absolute;
    display: flex;
    background-image: url("./img/Blue Flower.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.flower2{
    width: 50vh;
    height: 15vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    box-shadow: 3px 3px 3px blink;
    background-image: url("./img/Flower Orchid.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.leaf1{
    width: 50vh;
    height: 15vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    box-shadow: 3px 3px 3px blink;
    background-image: url("./img/Leaf.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.leaf2{
    width: 50vh;
    height: 15vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    box-shadow: 3px 3px 3px blink;
    background-image: url("./img/Leaf 2.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.twig1{
    width: 50vh;
    height: 15vh;
    border-radius: 5px;
    box-shadow: 3px 3px 3px blink;
    position: absolute;
    display: flex;
    background-image: url("./img/Twig.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.twig2{
    width: 50vh;
    height: 15vh;
    border-radius: 5px;
    box-shadow: 3px 3px 3px blink;
    position: absolute;
    display: flex;
    background-image: url("./img/Twig 2.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.hide{
    display: none;
    visibility:hidden;
}

.background{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100vmin;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
button{
    background-color: rgba(255, 255, 255,0);
    border: 0px;
}
.start,
.try-harder-background,
.well-done-background{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 2vh;
    width: 100%;
    height: 100%;
}
.title{
    margin: 20px;
    position: absolute;
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5em 0.5em;
}
.game{
    top: 4vh;
    width: 100%;
    height: 10%;
    position: absolute;
    display: flex;
    margin: 0px;
}
.timer{
    margin: 0px;
    left: 10vmin;
    position: absolute;
    font-size: 2em;
}
.timer-count{
    position: absolute;
    left: 5vmin;
    top: 8vmin;
    margin: 1px;
    font-size: 3em;
    font-family: "Lilita One";
    color: #4E2BAB;
}
.score-count{
    position: absolute;
    right: 5vmin;
    top: 8vmin;
    margin: 1px;
    font-size: 3em;
    font-family: "Lilita One";
    color: #D1129B;
}
.holder{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.restart-background{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.result{
    position: absolute;
    font-size: 1.8em;
    top: 50vh;
    font-weight: 600;
    color: #2E6A59;
}
.result-score-count{
    position: relative;
    font-size: 8vh;
    font-weight: 600;
    color: white;
    bottom: 8vh;
    font-family: "Lilita One";

}
.final{
    position: relative;
    width: 100vmin;
    height: 100vh;
}
.title{
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 20vh;
}
.preview{
    display: grid;
    width: 45vh;
    height: 47vh;
    gap: 3vh;
    grid-template-columns: repeat(2, 22vh);
    grid-template-rows: repeat(2, 22vh);
}
.pre{
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preImage{
    width: 20vh;
}
.btn{
    width: 40vh;
    height: 10vh;
}
.game-background{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./img/BG.jpg");
}
.endTitle{
    width: 30vh;
}
.popUp{
    width: 40vh;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.topRight{
    position: absolute;
    display: flex;
    top: -3vh;
    right: 1vh;
}
.icon{
    width: 7vh;
}