body{
    width: 100%;
    height: 100%;
    background-color: #93ba7f;
    margin: 0px;
    padding: 0px;
    background-image: url("BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: fixed;
}
html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.flower1{
    width: 50vmin;
    height: 25vmin;
    border-radius: 5px;
    box-shadow: 3px 3px 3px blink;
    position: absolute;
    background-image: url("Blue Flower.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.flower2{
    width: 50vmin;
    height: 15vmin;
    border-radius: 5px;
    position: absolute;
    box-shadow: 3px 3px 3px blink;
    background-image: url("Flower\ Orchid.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.leaf1{
    width: 50vmin;
    height: 15vmin;
    border-radius: 5px;
    position: absolute;
    box-shadow: 3px 3px 3px blink;
    background-image: url("Leaf.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.leaf2{
    width: 50vmin;
    height: 15vmin;
    border-radius: 5px;
    position: absolute;
    box-shadow: 3px 3px 3px blink;
    background-image: url("Leaf 2.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.twig1{
    width: 50vmin;
    height: 15vmin;
    border-radius: 5px;
    box-shadow: 3px 3px 3px blink;
    position: absolute;
    background-image: url("Twig.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.twig2{
    width: 50vh;
    height: 15vmin;
    border-radius: 5px;
    box-shadow: 3px 3px 3px blink;
    position: absolute;
    background-image: url("Twig 2.png");
    background-size: contain;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.hide{
    display: none;
    visibility:hidden;
}

.background{
    display: flex;
    height: 700px;
    width: 400px;
    justify-content: center;
    align-items: center;
}
.startButtton{
    position:inherit;
    bottom: 20vh;
    height: 10vmin;
    width: 30vmin;
    background-color: #D2F5FF;
    font-size: 4vmax;
    color: #224c0b;
    border: 2px solid black;
    border-radius: 1.5em;
    cursor: pointer;
}
.start{
    position: absolute;
    display: flex;
    width: 100vmin;
    height: 100vh;
    justify-content: center;
    text-align: center;
}
.title{
    margin: 20px;
    position: absolute;
    font-size: 2em;
}
.game{
    top: 1vh;
    width: 100%;
    height: 10%;
    position: absolute;
    display: flex;
    margin: 0px;
}
.timer{
    margin: 0px;
    left: 10vmin;
    position: absolute;
    font-size: 2em;
}
.timer-count{
    position: absolute;
    left: 21vmin;
    top: 8vmin;
    margin: 1px;
    font-size: 2em;
    font-weight: 600;
}
.score{
    margin: 0;
    right: 13vmin;
    position: absolute;
    font-size: 2em;
}
.score-count{
    position: absolute;
    right: 23vmin;
    top: 8vmin;
    margin: 1px;
    font-size: 2em;
    font-weight: 600;
}
.holder{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.try-harder-background{
    position: absolute;
    display: flex;
    width: 65vmin;
    height: 65vmin;
    justify-content: center;
    text-align: center;
    background:  rgb(241, 153, 52, 0.7);
    border: 2px solid black;
    border-radius: 3em;
    padding: 0.5em 0.5em;
}
.well-done-background{
    position: absolute;
    display: flex;
    top: 8vmin;
    width: 65vmin;
    height: 65vmin;
    justify-content: center;
    text-align: center;
    background:  rgb(241, 153, 52, 0.7);
    border: 2px solid black;
    border-radius: 3em;
    padding: 0.5em 0.5em;
}
.restart{
    position: absolute;
    bottom: 5vmin;
    height: 10vmin;
    width: 30vmin;
    background-color: #FABAAB;
    font-size: 1em;
    color: #4E2BAB;
    border: 2px solid black;
    border-radius: 1.5em;
    padding: 0.5em 0.5em;
    cursor: pointer;
}
.restart-background{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.result{
    position: absolute;
    font-size: 1.8em;
    font-weight: 600;
    color: #2E6A59;
}
.result-score{
    position: absolute;
    font-size: 1.7em;
    font-weight: 600;
    color: white;
    top: 10vmin;
}
.result-score-count{
    position: absolute;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    top: 18vmin;
}
.words{
    position: absolute;
    font-size: 1.8em;
    font-weight: 400;
    color: #2E6A59;
    top: 26vmin;
}
.final{
    position: relative;
    width: 100vmin;
    height: 100vh;
}